layout {
	pane 
		pane size=1 borderless=true {
			plugin location="file:$HOME/dotfiles/zellij/plugins/zjstatus.wasm" {
				format_left   "{mode}  {tabs}"
				format_right "{datetime}"
				format_space  ""

				border_enabled  "false"

				hide_frame_for_single_pane "false"

				mode_normal  "#[bg=#7aa2f7,fg=#16161e,bold] 󰄛 Normal#[fg=#7aa2f7]"
				mode_tmux    "#[bg=#ff9e64,fg=#16161e,bold]  Tmux#[fg=#ff9e64]"
				mode_pane "#[bg=#ff9e64,fg=#16161e,bold] 󰶜 Pane#[fg=#ff9e64]"
				mode_rename_pane "#[bg=#ff9e64,fg=#16161e,bold] 󰑙 RenamePane#[fg=#ff9e64]"
				mode_tab "#[bg=#ff9e64,fg=#16161e,bold] 󰓩 Tab#[fg=#ff9e64]"
				mode_rename_tab "#[bg=#ff9e64,fg=#16161e,bold] 󰑙 RenameTab#[fg=#ff9e64]"
				mode_scroll "#[bg=#ff9e64,fg=#16161e,bold]  Scroll#[fg=#ff9e64]"
				mode_resize "#[bg=#ff9e64,fg=#16161e,bold] 󰩨 Resize#[fg=#ff9e64]"
				mode_search "#[bg=#ff9e64,fg=#16161e,bold]  Search#[fg=#ff9e64]"
				mode_enter_search "#[bg=#ff9e64,fg=#16161e,bold] 󱁴 EnterSearch#[fg=#ff9e64]"
				mode_move "#[bg=#ff9e64,fg=#16161e,bold] 󰆾 Move#[fg=#ff9e64]"
				mode_session "#[bg=#ff9e64,fg=#16161e,bold] 󰻋 Session#[fg=#ff9e64]"
				mode_prompt "#[bg=#ff9e64,fg=#16161e,bold] Prompt#[fg=#ff9e64]"
				mode_locked "#[bg=#ff9e64,fg=#16161e,bold] 󰌾 Locked#[fg=#ff9e64]"

				tab_normal   "#[fg=#6C7086] {name} "
				tab_active   "#[fg=#c0caf5,bold,italic] {name} "

				datetime        "#[fg=#c0caf5,bold] {format} "
				datetime_format "%H:%M"
				datetime_timezone "Asia/Ho_Chi_Minh"
			}
		} 
	 // pane size=1 borderless=true {
	 // 	plugin location="zellij:status-bar"
	 // } 
	// pane size=1 split_direction="vertical" {
	 	// pane borderless=true {
	 	// 	 plugin location="zellij:status-bar"
	 	// }
	// }	
}
