set scrolloff=5
set incsearch

let mapleader=" "

map Q gq


Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

map <leader><Tab> :bnext<CR>
map <leader><S-Tab> :bprev<CR>
emap <leader>c :bd<CR>
